/** @format */

.news__content {
  width: 100%;
  height: auto;
  &__bg {
    padding: 13px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
        background-color: $color-pink;
    }
    &__pic {
      img {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
      }
    }
    &__txt {
      width: 100%;
      padding: 16px 10px;
      background-color: #fff;
      h3 {
        font-weight: $fw-0;
        font-size: $fs-1 + 1;
        color: $color-black-0;
        text-align: left;
        line-height: $line-height-0;
        margin-bottom: $m-0;
      }
      p {
        font-weight: $fw-0;
        font-size: $fs-0;
        color: $color-black-0;
      }
    }
  }

}
