/** @format */
//Dùng để reset thông số mặc định của chương trình
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: $color-black-1;
  font-size: $fs-9;

  background: linear-gradient(to top, $color-black-0, $color-black-1);
}
