/** @format */
.header__content {
  position: fixed;
  width: 100%;
  z-index: 999;
  .header__info {
    text-align: right;
    margin-bottom: 0;
    @include styleText($color-white-0, $fs-0, $fw-2);
    span {
      border-right: 1px solid $color-white-0;
      padding: 0.5rem;
      margin-bottom: 0;
    }
  }
  .myNavBar {
    .navbar-nav {
      text-transform: uppercase;
      border-bottom: 1px solid $color-gray-6;
      .myNavBar__navLink {
        text-decoration: none;
        color: $color-white-0;
        padding: $p-3 $p-5;
        letter-spacing: 1px;
        @include styleText($color-white-0, $fs-1 + 1, $fw-0);
      }
    }
    .dropdownMenu__header {
      background-color: $color-black-0;
      text-align: center;
      .dropdownMenu__Link {
        @include styleText($color-yellow-2, $fs-1, $fw-0);
      }
    }
  }
}

//Responsive
@include responsive("large") {
  .header__content {
    .navbar-brand {
      max-width: 180px;
      img {
        max-width: 100%;
      }
    }
    .myNavBar {
      #movieNavBar {
        .navbar-nav {
          .myNavBar__navLink {
            font-size: $fs-11;
            letter-spacing: 0.5px;
            padding: $p-3 $p-9;
          }
        }
      }
    }
  }
}

@include responsive("medium") {
  .line.active::after {
    width: 0;
  }
  .header__content {
    .myNavBar {
      .navbar-toggler {
        color: $color-yellow-2;
        &:focus {
          outline: none;
        }
      }
      #movieNavBar {
        .navbar-nav {
          background-color: $color-black-0;
          text-align: center;
        }
      }
    }
  }
}
