.user__template{
    background-image: url("https://movie-booking-project.vercel.app/img/bgAuth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    height: 100vh;
}