/** @format */

.slick-prev:before,
.slick-next:before {
  color: gray !important;
  font-size: 3rem !important;
}

.width-items {
  width: 100%;
}
.active__Film{
  background-color:#111;
  color: #fff;
}
.none__active__Film{
background-color: #fff;
color: #111;
}
